
footer{
	min-height: 200px;
	background-color: $fondoSecundario;
	div{
		width: (100%)/3;
		height: 100%;
	}
	.menuFooter ul{
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		list-style: none;
		margin-bottom: 20px;
		padding: 0px 10px;
		li a{
			color: $color1;
			font-size: $tamañoFuente;
			padding: 0px 10px;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.iconosFooter{
		display: flex;
		flex-direction: row;
		justify-content: center;
		.iconoRedes{
			width: 50px;
			margin: 0px 5px;
		}
	}
}