header{
	background-color: $fondoSecundario;
	width: 100%;
	min-height: 80px;
}
.menu{
	margin: 0px auto; 
	li{
		height: 100%;
		width: 100%;
		padding: 0 20px;
		a{
			width: 100%;
			font-family: $fuenteSecundaria;
			font-size: ($tamañoFuente)+5;
			border: 2px solid transparent;
			transition: all 200ms ease-in-out;
			&:hover{
				border: 2px solid $color1;
				border-radius: 3px;
			}
		}
	}
}
.contenedorIconos{
	display: flex;
	flex-direction: row;
}
.iconoRedes{
	padding: 0 10px;
	img{
		height: 42px;
		width: 42px;
		transition: all 500ms ease-in-out;
		&:hover{
			transform: scale(1.2);
		}
	}
}