/*Comienzan estilos especificos para seccion PEDIDOS*/
.banner{
	background-image: url(../img/cupcakeBannerMob.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
}
@media (min-width: 600px){
	.banner{
		background-image: url(../img/cupcakeBanner.jpg);
	}
}
.contenidoPedidos{
	min-height: 500px;
	color: $color2;
	margin: 40px 0px;
	p{
		text-shadow: 2px 2px 2px white;
	}
}
.listas{
	font-size: 25px;
	margin-left: 20px;
	padding-left: 10px;
	font-weight: $fuenteMedium;
}
.listas li{
	line-height: 2em;
}
.linkContacto{
	font-size: 20px;
	text-align: center;
}
.linkContacto a{
	color: $fondoSecundario;
	text-decoration: none;
	font-weight: 700;
	border: 5px solid transparent;
	padding: 0px 5px;
	transition: all 200ms ease-in-out;
	&:hover{
		border: 5px solid $fondoSecundario;
	}
}
.lineaBorde{
	border-top: 2px solid $color2;
}
@media (min-width: 992px){
	.lineaBorde{
		border-left: 2px solid $color2;
		border-top: none;
	}
}