/*Comienzan estilos especificos para seccion PRODUCTOS*/
#galeria{
	width: 100%;
	padding: 10px;
	margin: 0px;
	box-sizing: border-box;
	.fotoDeGaleria{
		width: 200px;
		height: 200px;
		padding: 5px 0px;
		box-sizing: border-box;
		transition: all 1s ease-in-out;
		&:hover{
			transform: scale(1.1);
		}
	}
}

