$fondoPrincipal: #f1e9dd;
$fondoSecundario: #823333;
$fuentePrincipal: 'Quicksand', sans-serif;
$fuenteSecundaria: "Lobster Two", cursive;
$fuenteLight: 300;
$fuenteMedium: 500;
$fuenteBold: 700;
$tamañoFuente: 20px;
$color1: white;
$color2: #957d51;